@page "/fetchdata"
@inject HttpClient Http

<h1>Clients</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (Clients is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Client Name</th>
                <th>Client Id</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var client in Clients)
            {
                <tr>
                    <td>@client.Name</td>
                    <td>@client.ClientId</td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    /*
    private WeatherForecast[] forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("sample-data/weather.json");
    }

    public class WeatherForecast
    {
        public DateTime Date { get; set; }

        public int TemperatureC { get; set; }

        public string Summary { get; set; }

        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }
    */
}
